* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  position: relative;
}
/* START FLOAT UTILITY */
.row {
  height: 100%;
}
.row::after {
  display: table;
  content: "";
  clear: both;
}
/* END FLOAT UTILITY */
/* START CURSOR POINTER ASSIGNMENT */
.opt-bell, .opt-text:last-child{
    cursor: pointer;
}
/* END CURSOR POINTER ASSIGNMENT */
/* START FORMAT SPAN */
span:not(.opt-text > span) {
  margin-left: 10px;
}
/* END FORMAT SPAN */
/* START RESIZING USER & CONTACTS AVATAR */
img.avatar {
  height: 100%;
  border-radius: 100%;
}
/* END RESIZING USER & CONTACTS AVATAR */
/* START ICONS COMMAND POSITION */
.ico-cmd > i,
.emoticon > i,
.record-audio > i {
  margin-left: 10px;
  color: rgb(90, 87, 87);
}
.ico-cmd {
  padding-right: 10px;
}
/* END ICONS COMMAND POSITION */
/* START BACKGROUND APP */
.boolzapp-bkg {
  height: 100%;
}
.bkg-head {
  background-color: #429588;
  height: 150px;
}
.bkg-body {
  background-color: #eff1e5;
  height: calc(100vh - 150px);
}
/* END BACKGROUND APP */
/* START MAIN WINDOW APP*/
.boolzapp-app {
  position: absolute;
  width: 100%;
  max-width: 1400px;
  height: 100%;
  max-height: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
}
/* START USER PANEL */
.user-panel {
  width: 400px;
  max-width: 50%;
  height: 100%;
  float: left;
  border-right: 1px solid #c0c0c0;
  background-color: #fff;
}
/* START USER INFO & CMD */
.user,
.current-contact {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dbdbd4;
}
.user-info {
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
}
.user-cmd {
  margin-right: 10px;
}
/* END USER INFO & CMD */
/* START NOTIFICATIONS */
.notifications {
  height: 80px;
  background-color: #9fd8f8;
  display: flex;
  align-items: center;
  padding: 10px;
}
.opt-bell {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #fff;
  text-align: center;
  line-height: 60px;
  font-size: 25px;
  color: #9fd8f8;
}
.opt-text {
  margin-left: 10px;
}
.opt-text > p{
font-weight: bold;
}
.opt-text > span{
    text-decoration: underline;
    color: rgb(88, 77, 156);
}
/* END NOTIFICATIONS */
/* START SEARCH CHAT */
.search-chat {
  width: calc(100% - 15px);
  height: 40px;
  margin: 5px;
  padding: 10px;
  border: 1px solid #c0c0c0;
  display: flex;
  align-items: center;
}
.search-icon {
  width: 60px;
  text-align: center;
  font-size: 25px;
}
.search-chat > input {
  width: 100%;
  border: 0;
  outline: 0;
}
.search-chat > input:focus {
  outline: none !important;
}
/* END SEARCH CHAT */
/* START CONTACTS LIST */
.contacts-list {
  width: calc(100% - 10px);
  height: calc(100% - 210px);
  border-top: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
}
.contact-info,
.current-contact-info {
  height: 80px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.contact-info:hover {
  background-color: #dbdbd4;
}
/* END CONTACTS LIST */
/* END USER PANEL */
/* START CHAT PANEL */
.chat-panel {
  width: calc(100% - 400px);
  min-width: calc(50% - 5px);
  height: 100%;
  float: left;
}
/* START CONTACT-GROUP INFO & CHAT CMD */
/* current.contact = user */
/* current-contact-info = contact-info */
/* END CONTACT-GROUP INFO & CHAT CMD */
/* START CURRENT CHAT MESSAGE HISTORY */
.current-chat {
  width: 100%;
  height: calc(100% - 160px);
  background-image: url("../img/mine.jpg");
  padding: 20px;
}
/* START MESSAGE SENT OR RECEIVED */
.sent {
  float: right;
  background-color: #ddf8c0;
}
.received {
  float: left;
  background-color: #fff;
}
.sent,
.received {
  min-width: 30%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}
.sent > p,
.received > p {
  padding-bottom: 3px;
}
.sent > span,
.received > span {
  font-size: 15px;
  color: #c0c0c0;
  float: right;
}
/* END MESSAGE SENT OR RECEIVED */
/* END CURRENT CHAT MESSAGE HISTORY */
/* START WRITE & EMOTICON */
.write {
  width: 100%;
  height: 80px;
  background-color: #dadbd4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.emoticon,
.record-audio {
  font-size: 40px;
}
.record-audio{
    margin-right: 20px;
}
.write-message {
    flex-grow: 1;
    margin: 0 10px;
}
.write-message > input {
    width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: none;
  border: none;
}
/* END WRITE & EMOTICON */
/* END CHAT PANEL */
/* END MAIN WINDOW APP*/
