<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boolzapp - a (not very) innovative messaging platform</title>
    <!-- ----FONT---- -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <!-- ----CSS---- -->
    <link rel="stylesheet" href="./css/style.css" />
    <!-- ----CND VUE---- -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- BACKGROUND -->
      <div class="boolzapp-bkg">
        <div class="bkg-head"></div>
        <div class="bkg-body"></div>
      </div>
      <!-- MAIN WINDOW -->
      <div class="boolzapp-app">
        <div class="row">
          <!-- USER PANEL -->
          <div class="user-panel">
            <!-- USER INFO & CMD -->
            <div class="user">
              <div class="user-info">
                <img
                  class="avatar"
                  :src="imageLocation+userData.avatar+imageFormat"
                  :alt="userData.name"
                />
                <span>{{userData.name}}</span>
              </div>
              <div class="user-cmd ico-cmd">
                <i class="fas fa-circle-notch"></i>
                <i class="fas fa-comment-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>
            <!-- NOTIFICATIONS -->
            <div class="notifications">
              <div class="opt-bell">
                <i class="fas fa-bell-slash"></i>
              </div>
              <div class="opt-text">
                <p>Ricevi notifiche di nuovi messagi</p>
                <span>Attiva notifiche desktop</span>
              </div>
            </div>
            <!-- SEARCH CHAT -->
            <div class="search-chat">
              <div class="search-icon">
                <i class="fas fa-search"></i>
              </div>
              <span>Cerca o inizia una nuova chat</span>
            </div>
            <!-- CONTACTS LIST -->
            <div class="contacts-list">
              <div v-for="contact in contacts">
                <div class="contact-info">
                  <img
                    class="avatar"
                    :src="imageLocation+contact.avatar+imageFormat"
                    :alt="contact.name"
                  />
                  <span>{{userData.name}}</span>
                </div>
              </div>
            </div>
          </div>
          <!-- CHAT PANEL -->
          <div class="chat-panel">
            <!-- CONTACT INFO -->
            <div class="current-contact">
              <div class="current-contact-info">
                <!-- TEMPORANEAMENTE PRENDO IL PRIMO DELL'ARRAY -->
                <img
                  class="avatar"
                  :src="imageLocation+contacts[0].avatar+imageFormat"
                  :alt="contacts[0].name"
                />
                <span>{{contacts[0].name}}</span>
              </div>
              <div class="user-cmd ico-cmd">
                <i class="fas fa-circle-notch"></i>
                <i class="fas fa-comment-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>
            <!-- CURRENT CONTACT CHAT MESSAGES -->
            <div class="current-chat">
              <!-- PRENDO TEMPORANEAMENTE I MESSAGGI DELLA PRIMA CHAT NELL'ARRAY -->
              <div v-for="(message, index) in contacts[0].messages">
                <div class="row">
                  <div :class="message.status==='sent' ? 'sent': 'received'">
                    <p>{{message.text}}</p>
                    <span>{{message.date}}</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- WRITE MESSAGE AND SENT CMD -->
            <div class="write">
              <div class="emoticon">
                <i class="far fa-smile"></i>
              </div>
              <div class="write-message">
                  <input type="text" placeholder="Scrivi un messaggio">
              </div>
              <div class="record-audio">
                <i class="fas fa-microphone"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/main.js"></script>
  </body>
</html>
